<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>zngg@bcgvbafusg.pbz</string>
	<key>contactName</key>
	<string>Matthew Sanders</string>
	<key>description</key>
	<string>A light theme with cool, subdued colors.</string>
	<key>name</key>
	<string>Prospettiva</string>
	<key>uuid</key>
	<string>3411BB2A-E5FB-4A2E-B57D-77745C52023E</string>
</dict>
</plist>
